// Andy.SCSS: Open-Source Collection of Useful SASS Mixins Library.
// URL: http://gillesbertaux.com/andy$
// Repository: https://github.com/gillesbertaux/andy
// By: Gilles Bertaux | http://gillesbertaux.com | @gillesbertaux
// The purpose of Andy is to gather useful mixins and avoid endless research
// or heavy framework use. Feel free to fork it on Github and add your own mixins:

// clearfix extend (andy.scss)
// ==================================================/
%clearfix {
    *zoom: 1;

    &:before, &:after {
        content: ' ';
        display: table;
    }

    &:after {
        clear: both;
    }
}